@font-face {
    font-family: 'mgenplus-black';
    src: url('./font/cp_period.woff2');
}

body {
    font-family: 'mgenplus-black';
    margin: 0;
    background-image: url(sozai/back2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    font-weight: bold;
    text-shadow: 4px 0px 0px #1f1f1fc0;
    color: aliceblue;
}
.flexbox{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
}
a:link { color:#ffffff; }
a:visited { color:#ffffff; text-decoration:none }
a:hover { color:#ffffff; text-decoration:none }
a:active { color:rgb(255, 255, 255); text-decoration:none }
.toukou{
    display: flex;
    background: rgba(7, 7, 7, 0.637);
    padding: 20px;
    margin: 10px;
    text-align: center;
    font-size: 0.7em;
}

.item {
    display: flex;
    background: rgba(7, 7, 7, 0.637);
    padding: 40px;
  
    margin: 30px;
    text-align: center;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  #menu1 #menu2 #menu3 {
    border-radius: 20px;
    background: rgba(7, 7, 7, 0.637);
    padding: 20px;
    margin: 5px;
    text-align: center;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    max-width: 50vw;
    text-align: center;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }
