@font-face {
    font-family: 'mgenplus-black';
    src: url('./font/cp_period.woff2');
}

body {
    font-family: 'mgenplus-black';
    margin: 0;
    background-color: rgb(0, 0, 255);
    font-weight: bold;
    text-shadow: 4px 0px 0px #1f1f1fc0;
    color: aliceblue;
}

.卍 {
    font-size: 2em;
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.back {
    padding:0px 15vw 0px;
}

.box {
    display: flex;
    width:60vw;
    padding: 60px;
    align-items: center;
    border-radius: 30px;
    background: rgba(7, 7, 7, 0.308);
    margin: 15px;
    text-align: center;
}

.box img {
    margin: 0 20px 0 0;
    max-width: 100px;
    height: auto;
}

.box:nth-child(even) {
    flex-direction: row-reverse;
}

.box:nth-child(even) img {
    margin: 0 0 0 20px;
}

h2 {
    font-size: 1.5em;
}