@font-face {
    font-family: 'mgenplus-black';
    src: url('./font/rounded-l-mgenplus-1c-black.woff2');
}

body {
    font-family: 'mgenplus-black';
    background: linear-gradient(-135deg, rgb(91, 255, 228), rgb(31, 0, 88));
    font-weight: bold;
    text-shadow: 4px 0px 0px #1f1f1fc0;
    color: aliceblue;
}

.flexbox {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box1 {
    widows: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self:center;
}

.fome {
    display: flex;
    padding: 5px;
}

.box2 {
    widows: 100vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content:center;
    align-self:center;
}

.fome2 {
    display: flex;
}

.reload {
    text-align: center;
    align-self: flex-end;
}