@font-face {
    font-family: 'mgenplus-black';
    src: url('./font/rounded-l-mgenplus-1c-black.woff2');
}

body {
    font-family: 'mgenplus-black';
    margin: 0;
    background: linear-gradient(-135deg, rgb(91, 255, 228), rgb(66, 66, 235));
    font-weight: bold;
    text-shadow: 4px 0px 0px #1f1f1fc0;
    color: aliceblue;
    width: 100vw;
    height: 100vh;
}


.flexbox2{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fome{

}

.fome2{

}
.box14{

    display: flex;
    flex-direction:column;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.reload
{
    width: 100px;
    height: 100px;
    text-align: center;
}