@font-face {
    font-family: 'mgenplus-black';
    src: url('./font/cp_period.woff2');
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'mgenplus-black';
    margin: 0;
    padding: 0;
    width: 96vw;
    background-color: rgb(0, 0, 255);
    font-weight: bold;
    text-shadow: 8px 0px 0px #1f1f1fc0;
    color: aliceblue;
}
.item {
  border-radius: 10px;
  background: rgba(7, 7, 7, 0.637);
  padding: 30px;
  margin: 5px;
  text-align: center;
}
.syamei {
  max-width: 100%;
  height: auto;
}
p {
  text-align: left;
}

@media ( min-width : 800px ){
    .flexbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    max-height: 600px;
    }
  .item {
    width: 25%;
  }
}